<!--
Create tabs with an icon and label, using the tabs-balanced style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-bottom tabs-balanced">


  <!-- Dashboard Tab -->
  <ion-tab title="Karte" icon-off="ion-location" icon-on="ion-location" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="Touren" icon-off="ion-map" icon-on="ion-map" href="#/tab/tours">
    <ion-nav-view name="tab-tours"></ion-nav-view>
  </ion-tab>
  
  <!-- Favorites Tab -->
  <ion-tab title="Favoriten" icon-off="ion-heart" icon-on="ion-heart" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab title="Info" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
