<!--
  This template loads for the 'tab.map-detail' state (app.js)
  'place' is a $scope variable created in the MapCtrl controller (controllers.js)
  The MapCtrl pulls data from the Places service (service.js)
  The Places service returns an array of place data
-->
<ion-view view-title="{{place.name}}">

  <ion-content>
  
  	<div id="map-tour-place-detail-canvas" style="min-height:200px; height:100%;" ></div> 
    <div class="padding">
    <p>
    {{place.name}}    
    </p>
    {{place.info}}
    {{place.description}}
    </div>
    <ion-slide-box>
        <ion-slide ng-repeat="image in place.images">
        	<img ng-src="data/places/{{place.id}}/{{image}}">
        </ion-slide>
    </ion-slide-box>
    
  </ion-content>
</ion-view>
