

/* ----- PANORAMA ----- */
.panorama-container {
	position:relative;
}
.panorama-image {
	position:absolute;
	left:0;
}

.panorama-nav {
	width:50%;
	height:100%;
	position:absolute;
	top:0;
}

.panorama-nav-left {
	left:0;
}

.panorama-nav-right {
	right:0;
}